<h3><i class="fas fa-book-reader">Journalling</i></h3>
<div class="section">
    <p class="lead secondary-font">Create public and private stories from your life.</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left">Log in with Google</i>
    </a>
</div>